body {
  
}

.logoImage {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginTextTitle {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #01BAEF;
}

.loginScreen {
    display: block;
}

.dataScreen {
    display: none;
}

.mainContainer{
    background-color: #0B4F6C;
    height: 90%;
}


.loginContainer{
    width: 500px;
    height: 250px;
    background-color: #01BAEF;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: solid 8px;
    border-color: #0091ba;
    border-radius: 16px;
}
.loginLabel{
    margin-left: 75px;
}

.loginTextInput{
    margin: 10px;
    margin-bottom: 10px;
}

.loginButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100px;
    height: 35px;
    color: #0B4F6C;
    background-color: #d1d1d1;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: #757575;
    border-top-color: white;
    border-right-color: white;
}

.signUpButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 30px;
    color: #0B4F6C;
    background-color: #d1d1d1;
    font-size: 12px;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: #757575;
    border-top-color: white;
    border-right-color: white;
}

.bottomContainer{
    height: 10%;
    background-color:  #0091ba;
    align-items: flex-end;
    justify-content: flex-end;
}
.importantInfoText{
    padding: 10px;
    color: #d1d1d1;
    font-size: 13px;
    text-decoration-line: underline;
    text-align: right;
}

.dataScreenBarContainer{
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #01BAEF;
}

.logoImageLeft{
    width: 150px;
    display: block;
    margin: 10px;
}

.titleTextData {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #01BAEF;
    
}

.logOutButton {
    margin-top: 30px;
    margin-right: 50px;
    width: 125px;
    height: 50px;
    color: #0B4F6C;
    background-color: #d1d1d1;
    font-size: 18px;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: #757575;
    border-top-color: white;
    border-right-color: white;
    
}

.dataButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 40px;
    color: #0B4F6C;
    background-color: #d1d1d1;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: #757575;
    border-top-color: white;
    border-right-color: white;
}

li{
    padding: 10px;
    background: #1580ad;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: lightblue;
}

.deleteX{
    margin-right: 10px;
    font-size: 18px;
    color: #def7ff;
    cursor:  pointer;
    position: absolute;
    right: 25px;
}

.logLI{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: lightblue;
}

.formButton{
    margin-left: 10px;
    width: 75px;
    height: 40px;
    color: #0B4F6C;
    background-color: #d1d1d1;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: #757575;
    border-top-color: white;
    border-right-color: white;
}

.input-field{
    margin-bottom: 10px;
    margin-left: 10px;
}
